.App {
  text-align: center;
  background-color: #cf61fb;
}

button {
  background-color:rgb(208, 255, 0);

}


h1 {
  background-color:aquamarine;
  font-weight: bold;
  
}

p {
  font-weight: bold;
}


